Use `pip` to install `twitter`.

In [23]:
!pip install twitter --quiet

Import `TwitterStream` and `OAuth` from `twitter`.

In [24]:
from twitter import TwitterStream, OAuth

### `oauth`

Create a new object called `oauth` using `OAuth`. 

    OAuth(token, token_secret, consumer_key, consumer_secret)

In [25]:
token = '136717606-vDTELnjeT6PUyPhSmz30CkXN7CzNVuFZWOM1bWbb'
token_secret = '9A6N4TiC8Uw7fdRECq1obXwIfiZ0rUDxz5ncYpr2iIJo9'
consumer_key = 'UfqtHNq7q7K7hYfA32Mk4zRo7'
consumer_secret = 'bgPNdvBYZjryFwQlAM5IulTLR1lLGTaLcowebDA3BbFVBFeSg8'

In [26]:
oauth = OAuth(token, token_secret, consumer_key, consumer_secret)

Create a new object called `twitter_stream` using `TwitterStream`.

Use the argument `auth=oauth` referencing the `oauth` object you just made.

### `twitter_stream`

In [27]:
twitter_stream = TwitterStream(auth = oauth)

### `bounding_box`

Create a string called `bounding_box`. The string should contain the geo-coordinates of a bounding box separated by commas. These values are for Santa Monica:

    -118.5137323688,34.0001996344,-118.4702449172,34.0331651696
    
You can make your own here: https://boundingbox.klokantech.com. Be sure to specify CSV RAW to get the values in this format.

![](https://www.evernote.com/l/AAH3H9KGE6hD9JpPJPFncw09exRyoYSid5IB/image.png)

In [28]:
bounding_box = '-118.553044133,34.1717329,-118.4081619204,34.2392544722'

### `tweet_iterator`

Create an object called `tweet_iterator`. 

1. Use `twitter_stream`.
1. Apply `.statuses` to grab statuses.
1. Apply a `.filter()` with the argument `locations=bounding_box`.

In [35]:
tweet_iterator = twitter_stream.statuses.filter(locations = bounding_box)

Get the next value from the `tweet_iterator` and store it as the variable `this_tweet`.

In [36]:
this_tweet = next(tweet_iterator)


What is the type of `this_tweet`?

In [37]:
type(this_tweet)

twitter.api.TwitterDictResponse

Display the keys of `this_tweet`.

In [38]:
this_tweet.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'])

Display the `text` and `user` of `this_tweet`.

In [39]:
this_tweet['text']

'Pre k-spa noms (@ Sun Ha Jang in Los Angeles, CA) https://t.co/EfHE8vTvpC'

In [40]:
this_tweet['user']

{'id': 26002770,
 'id_str': '26002770',
 'name': 'Veronica H',
 'screen_name': 'ItsASmallGirl',
 'location': 'Downtown Los Angeles, CA',
 'url': 'http://www.facebook.com/vharrington1985',
 'description': 'n/a',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 716,
 'friends_count': 1969,
 'listed_count': 68,
 'favourites_count': 7645,
 'statuses_count': 16057,
 'created_at': 'Mon Mar 23 13:46:39 +0000 2009',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '1A1B1F',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme9/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme9/bg.gif',
 'profile_background_tile': False,
 'profile_link_color': '2FC2EF',
 'profile_sidebar_border_color': '181A1E',
 'profile_sidebar_fill_color': '252429',
 'profile_text_color': '666666',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/983433825337290753/dQYo55ih_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/983433825337290753/dQYo55ih_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/26002770/1423062083',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

## Collect Tweets

Create an empty list called `tweets`.

Use a `for`-loop to collect ten tweets and add them to this list.

In [41]:
tweets = []

for i in range(10):
    tweets.append(this_tweet)  
    this_tweet = next(tweet_iterator)

Display `tweets` in a DataFrame.

In [42]:
import pandas as pd
import numpy as np

tweet_df = pd.DataFrame(tweets)

tweet_df

,contributors,coordinates,created_at,display_text_range,entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id_str,quoted_status_permalink,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
0,None,"{'type': 'Point', 'coordinates': [-118.3216396...",Fri Jul 20 03:44:31 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",0,False,low,"{'type': 'Point', 'coordinates': [34.05396689,...",1020152447791181825,...,NaN,NaN,0,0,False,"<a href=""http://foursquare.com"" rel=""nofollow""...","Pre k-spa noms (@ Sun Ha Jang in Los Angeles, ...",1532058271726,False,"{'id': 26002770, 'id_str': '26002770', 'name':..."
1,None,None,Fri Jul 20 03:44:31 +0000 2018,"[8, 18]","{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152448852230145,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@xyrael Very true.,1532058271979,False,"{'id': 755067, 'id_str': '755067', 'name': '𝕊𝕥..."
2,None,None,Fri Jul 20 03:44:32 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152449825320961,...,1020141291483492352,"{'url': 'https://t.co/frMW8wSqtf', 'expanded':...",0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",me on my first day of work:,1532058272211,False,"{'id': 1293542006, 'id_str': '1293542006', 'na..."
3,None,None,Fri Jul 20 03:44:32 +0000 2018,"[15, 16]","{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152450102116352,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@siierrra_sage 😐,1532058272277,False,"{'id': 2396951738, 'id_str': '2396951738', 'na..."
4,None,None,Fri Jul 20 03:44:34 +0000 2018,"[16, 23]","{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152460256555009,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@coturendbeyond Hey imy,1532058274698,False,"{'id': 592030835, 'id_str': '592030835', 'name..."
5,None,None,Fri Jul 20 03:44:35 +0000 2018,"[25, 103]","{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152462093660161,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/android"" ...",@cmviks @webcamsla @ABC7 Dont listen to him. H...,1532058275136,False,"{'id': 18236441, 'id_str': '18236441', 'name':..."
6,None,None,Fri Jul 20 03:44:36 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152466409631745,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",Y’all really be hanging out with the same girl...,1532058276165,False,"{'id': 2836102632, 'id_str': '2836102632', 'na..."
7,None,None,Fri Jul 20 03:44:36 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152467793764352,...,1020150467953750016,"{'url': 'https://t.co/W5KPfKZ8Dt', 'expanded':...",0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",Day 37271 without sex,1532058276495,False,"{'id': 110570972, 'id_str': '110570972', 'name..."
8,None,None,Fri Jul 20 03:44:38 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152475976839168,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",bree* @breenana__ lol,1532058278446,False,"{'id': 18570045, 'id_str': '18570045', 'name':..."
9,None,None,Fri Jul 20 03:44:38 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,False,low,None,1020152477679726595,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",4 day weekend 4 day weekend,1532058278852,False,"{'id': 908900942, 'id_str': '908900942', 'name..."

Display just the test of the tweets using DataFrame.

In [43]:
tweet_df['text']

0    Pre k-spa noms (@ Sun Ha Jang in Los Angeles, ...
1                                   @xyrael Very true.
2                          me on my first day of work:
3                                     @siierrra_sage 😐
4                              @coturendbeyond Hey imy
5    @cmviks @webcamsla @ABC7 Dont listen to him. H...
6    Y’all really be hanging out with the same girl...
7                                Day 37271 without sex
8                                bree* @breenana__ lol
9                          4 day weekend 4 day weekend
Name: text, dtype: object

What is the type of `tweets`?

In [44]:
type(tweets)

list

Write a list comprehension to display the type of each of the objects in `tweets`.

In [45]:
[
    type(tweet)
    for tweet in tweets
]

[twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse]

Import the `json` library.

In [46]:
import json

Create an object called `tweets_string` using `json.dumps()`.

Display the first 500 characters of this string.

In [52]:
tweets_string = json.dumps(tweets)
tweets_string[:500]

'[{"created_at": "Fri Jul 20 03:44:31 +0000 2018", "id": 1020152447791181825, "id_str": "1020152447791181825", "text": "Pre k-spa noms (@ Sun Ha Jang in Los Angeles, CA) https://t.co/EfHE8vTvpC", "source": "<a href=\\"http://foursquare.com\\" rel=\\"nofollow\\">Foursquare</a>", "truncated": false, "in_reply_to_status_id": null, "in_reply_to_status_id_str": null, "in_reply_to_user_id": null, "in_reply_to_user_id_str": null, "in_reply_to_screen_name": null, "user": {"id": 26002770, "id_str": "26002770"'

## Write Tweets to Disk

Using this pattern

    with open(filename_as_string, 'w') as outfile:
        json.dump(python_object, outfile)
        
write `tweets` to disk as json.

In [55]:
with open('json_tweets', 'w') as outfile:
    json.dump(tweets, outfile)

## Read Tweets from Disk

Using this pattern

    with open(filename_as_string) as infile:
        json_data=infile.read()
        python_object_from_disk = json.loads(json_data)
        
read the tweets from the json. Store them as `tweets_from_disk`.

In [57]:
with open('json_tweets') as infile:
    json_data=infile.read()
    tweets_from_disk = json.loads(json_data)

Display `tweets_from_disk` as a DataFrame.

In [59]:
tweets_from_disk_df = pd.DataFrame(tweets_from_disk)

In [61]:
tweets_from_disk_df['text'][0]

'Pre k-spa noms (@ Sun Ha Jang in Los Angeles, CA) https://t.co/EfHE8vTvpC'