In [2]:
! pip install boto3 pymongo twitter --quiet

In [3]:
from pymongo import MongoClient

In [4]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [5]:
cursor = collection_reference.find()

In [7]:
next(cursor)

{'_id': ObjectId('5b5625a0cfd9de0f392941e5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [8]:
cursor = collection_reference.find()

In [9]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

11648

In [10]:
collection_reference.count_documents({})

11748

In [ ]:
#collection_reference.aggregate

In [13]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [12]:
len(list(cursor_sampl))

20

In [15]:
next(cursor_sampl)

{'_id': ObjectId('5b58ba823aed5a010fe9197d'),
 'created_at': 'Wed Jul 25 17:55:19 +0000 2018',
 'id': 1022178498629255168,
 'id_str': '1022178498629255168',
 'text': '@FrankLuntz Blagojevich was arrested under the GEORGE W. BUSH administration (in 2008)\n\nTO OBAMAS CREDIT - He kept… https://t.co/wEbEIy5uRF',
 'display_text_range': [12, 140],
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'truncated': True,
 'in_reply_to_status_id': 1021896195034083328,
 'in_reply_to_status_id_str': '1021896195034083328',
 'in_reply_to_user_id': 197496309,
 'in_reply_to_user_id_str': '197496309',
 'in_reply_to_screen_name': 'FrankLuntz',
 'user': {'id': 78097774,
  'id_str': '78097774',
  'name': 'Gwendolyn',
  'screen_name': 'gwinki',
  'location': 'San Pedro, CA',
  'url': None,
  'description': 'Digital Content Coordinator - Animal Rights - Green Living - Trying to Help My Community & Save The World',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 33,
  'friends_count': 238,
  'listed_count': 12,
  'favourites_count': 326,
  'statuses_count': 1183,
  'created_at': 'Mon Sep 28 19:23:46 +0000 2009',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '32044C',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
  'profile_background_tile': True,
  'profile_link_color': '4A913C',
  'profile_sidebar_border_color': 'FA6800',
  'profile_sidebar_fill_color': 'FFAB25',
  'profile_text_color': '32044C',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/633404631150825472/bR_Okf6u_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/633404631150825472/bR_Okf6u_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/78097774/1439850465',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '3b77caf94bfc81fe',
  'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json',
  'place_type': 'city',
  'name': 'Los Angeles',
  'full_name': 'Los Angeles, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.668404, 33.704538],
     [-118.668404, 34.337041],
     [-118.155409, 34.337041],
     [-118.155409, 33.704538]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'extended_tweet': {'full_text': '@FrankLuntz Blagojevich was arrested under the GEORGE W. BUSH administration (in 2008)\n\nTO OBAMAS CREDIT - He kept the same people who were held over from the Bush Justice Department.  To ensured JUSTICE WAS DONE. \n\nI am very proud of the non-partisan commitment to prosecuting wrong-doing.',
  'display_text_range': [12, 290],
  'entities': {'hashtags': [],
   'urls': [],
   'user_mentions': [{'screen_name': 'FrankLuntz',
     'name': 'Frank Luntz',
     'id': 197496309,
     'id_str': '197496309',
     'indices': [0, 11]}],
   'symbols': []}},
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/wEbEIy5uRF',
    'expanded_url': 'https://twitter.com/i/web/status/1022178498629255168',
    'display_url': 'twitter.com/i/web/status/1…',
    'indices': [116, 139]}],
  'user_mentions': [{'screen_name': 'FrankLuntz',
    'name': 'Frank Luntz',
    'id': 197496309,
    'id_str': '197496309',
    'indices': [0, 11]}],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532541319888'}

In [16]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [19]:
tw = next(cursor_sampl)

StopIteration:

In [20]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'extended_tweet', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'])

In [21]:
list(tw.values())[:5]

[ObjectId('5b56a15f39cb6400a37f7017'),
 'Tue Jul 24 02:16:54 +0000 2018',
 1021579948455211008,
 '1021579948455211008',
 'Basic armbar lock flow. \n\n#combativesacademy #juijitsu #lockflow #armbar #submissiongrappling #noho #northhollywood… https://t.co/aXOVVqliDV']

In [22]:
import pandas as pd

In [23]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [19]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [24]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022166216410980352,0,0,0
1,0,1022156836072448000,0,0,0
2,0,1022288863878729729,0,0,0
3,0,1021590055268184065,0,0,0
4,0,1022174975644463104,0,0,0

In [25]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0                    NaN                  NaN
1                    NaN                  NaN
2           1.021782e+18           54412900.0
3                    NaN                  NaN
4                    NaN                  NaN

In [26]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,filter_level,geo,id_str,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user
0,5b58af273aed5a010fe90fa8,None,None,Wed Jul 25 17:06:31 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022166216410980352,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",I make it quite easy to not like me.. 🙃,1532538391579,"{'id': 22731170, 'id_str': '22731170', 'name':..."
1,5b58a6603aed5a010fe908a4,None,"{'type': 'Point', 'coordinates': [-118.6089752...",Wed Jul 25 16:29:15 +0000 2018,NaN,"{'hashtags': [{'text': 'job', 'indices': [55, ...",{'full_text': 'Join the Cross Country Healthca...,low,"{'type': 'Point', 'coordinates': [34.165357, -...",1022156836072448000,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"<a href=""https://www.careerarc.com"" rel=""nofol...",Join the Cross Country Healthcare team! See ou...,1532536155132,"{'id': 30894578, 'id_str': '30894578', 'name':..."
2,5b59232139cb64017fc81e48,None,None,Thu Jul 26 01:13:53 +0000 2018,"[12, 114]","{'hashtags': [{'text': 'family', 'indices': [1...",NaN,low,None,1022288863878729729,DevinNunes,1021781905929396225,54412900,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",@DevinNunes Trump is Putin’s bitch. And you a...,1532567633014,"{'id': 558830371, 'id_str': '558830371', 'name..."
3,5b56a90a1a6d22025b8bfcef,None,None,Tue Jul 24 02:57:04 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1021590055268184065,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",im about to cope my LANY tickets again (‘:,1532401024058,"{'id': 770768364, 'id_str': '770768364', 'name..."
4,5b58b74f3aed5a010fe916ae,None,None,Wed Jul 25 17:41:19 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': 'It irritates me when people at ...,low,None,1022174975644463104,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",It irritates me when people at the gym just dr...,1532540479943,"{'id': 3829531333, 'id_str': '3829531333', 'na..."

In [27]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [28]:
tw_sample_df.created_at

0   2018-07-25 17:06:31
1   2018-07-25 16:29:15
2   2018-07-26 01:13:53
3   2018-07-24 02:57:04
4   2018-07-25 17:41:19
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [29]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [30]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1581

## Distinct Users

#### TRY THIS

In [31]:
len(collection_reference.distinct('user'))

12428

In [32]:
collection_reference.count_documents({})

13148